@media(max-width:766px){
    header{
        .icon-arrow-left{
            font-size: 20px;
        }
    }
    .image-restaurant{
        img{
            height: auto;
        }  
    }
    .container-menu {
        .title-menu {
            padding: 0px;
            h2{
                font-size: 25px !important;
            }
            p {
            margin-right: 30px !important;
            }
            .icon-heart{
                i{
                    padding-left: 5%;
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
        }
        
        .menu{
            .entrees ,  .plats , .desserts{
                flex-direction: column;
                h3{
                    font-size: 30px !important;
                    &:after{
                        margin-top: 45px !important;
                        width: 65px !important;
                        left: 20px;
                    }
                }
                div{
                    height: 80px !important;
                    width: 100%;
                    .element{
                        height: 100px;
                        border-radius: 30px;                        
                        .desc-repas{
                            width: 80% !important;
                            margin-block-start: 0.5em;
                            margin: auto 0 auto 10px;
                            h4, p{
                                font-size: 18px !important;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .prix-repas{
                            margin: auto 10px 20px auto;
                           
                        }
                        .check-animation{
                            height: 80px;
                            i{
                                font-size: 20px;
                            }
                        }
                        &:hover {
                            .desc-repas{
                                width: 70% !important;
                            }
                            .check-animation {
                                width: 150px;
                                i {  
                                    transform: rotate(360deg); 
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        .container-button{
            .btn{
                width: 70%;
                font-size: 20px;
            }
        }
        footer h5 i{
            font-size: 20px !important;         
        }
    }
}
@media all and(max-width:1080px) and (min-width:767px) {
    .container-menu {
        border-radius: 100px 100px 0px 0px;
        margin-top: -100px;
        padding-bottom: 50px;
        .title-menu {
            padding: 0px;
            h2{
                font-size: 40px;
            }
            p {
            margin-right: 80px;
            width: 15% !important;
            }
        }
        .menu{
            .entrees ,  .plats , .desserts{
                display: block;
                h3{
                    font-size: 40px;
                    &:after{
                        left: 50px;
                        margin-top: 50px;
                        width: 60px;
                    }
                }
                div{
                    width: 100%;
                    height: 150px;
                    .element{
                        height: 130px;
                        border-radius: 30px;
                        .check-animation{
                            height: 130px;
                            i{
                                margin: 55px auto;
                            }
                        }
                    }
                    h4{
                        font-size: 30px;
                    }
                    p{
                        font-size: 25px; 
                    }
                    
                }
                
            }
        }
    }
    footer{
        display: block;
        h4{
            text-align: left;
            font-size: 40px;
            font-family: Shrikhand, Arial, Helvetica, sans-serif; ;
        }
        h5{
            font-size: 35px; 
        }
    }
}