@import "variable.scss";
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
@import "header-menu.scss";

.image-restaurant{
    img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }  
}
.container-menu{
    position: relative;
    background-color: #F6F6F6;
    margin-top: -80px;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    .title-menu{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 50px;
        h2{
            font-size: 40px;
            font-family: Shrikhand, Arial, Helvetica, sans-serif;
        }
        
        p{
            text-align: center;
            margin-right: 50px;
            width: 10% !important;
        }
        @import "icon-heart.scss";
    }
    .menu{
        margin:auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 30px;
        .entrees ,  .plats , .desserts{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 30px;
            h3{
                font-size: 25px;
                width: 100%;
                &::after{
                    content: "";
                    position: absolute;
                    margin-top: 35px;
                    width: 45px;
                    height: 3px;
                    left: 65px;
                    background-color: #99e2d0;
                }
            }
            div{
                width: 48%;
                height: 90px;
                margin-bottom: 20px;
                .annimation-menu1 {
                    animation-duration: .5s;
                    animation-delay: 0s;
                    animation-name: annimation-menu;
                    animation-fill-mode: both;
                }
                .annimation-menu2 {
                    animation-duration: .5s;
                    animation-delay: .1s;
                    animation-name: annimation-menu;
                    animation-fill-mode: both;
                }
                .annimation-menu3 {
                    animation-duration: .5s;
                    animation-delay: .2s;
                    animation-name: annimation-menu;
                    animation-fill-mode: both;
                }
                .annimation-menu4 {
                    animation-duration: .5s;
                    animation-delay: .3s;
                    animation-name: annimation-menu;
                    animation-fill-mode: both;
                }   
                .element{
                    width: 100%;
                    background-color: $white;
                    border-radius: 20px;
                    @extend %Shadow-card;
                    height: 90px;
                    margin: 20px auto;
                    display: flex;
                    font-size: 20px;
                    justify-content: space-between;
                    overflow: hidden;
                    .desc-repas{
                        width: 80%;
                        margin: auto 20px;
                        h4{
                            max-width:70% ;
                            margin-block-start:0.5em;
                            margin-block-end: 0.5em;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p{  
                            max-width:70% ;
                            margin-block-start: 0em;
                            margin-block-end: 0.5em;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .prix-repas{
                        width: 20%;
                        margin: auto 0;
                        font-weight: bold;
                    } 

                    .check-animation{
                        width: 0px;
                        background-color: $Tertiaire;
                        margin: auto;
                        transition: width 1s;
                        
                        display: flex;
                        justify-content: center;
                        border-radius: 0 20px 20px 0;
                        overflow: hidden;
                        i{
                            color: $white;
                            font-size: 23px;
                            transform: rotate(0deg);
                            transition: ease .5s;
                            margin: 35px auto;   
                        }
                    }
                    &:hover {
                        .check-animation {
                            width: 90px;
                            i {  
                                transform: rotate(360deg); 
                            }
                        }
                    }
                }
            }
        }
    }
    .container-button{
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        margin-top: 30px;
    }
    @import "btn.scss";
    .btn{
        width: 40%;
        height: 70px;
        margin: auto;
    }
}

@keyframes annimation-menu {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to { 
        opacity: 1 
    }
}



@import "footer.scss";
@import "_media-menu.scss";
