body{
    width: 100%;
    margin: 0px;
}
header{
    display: flex;
    flex-direction:row;
    border-bottom:6px #CFCFCF solid;
}
.logo{
    width: 30%;
    margin: auto;
    padding: 30px ;
}
#localisation{
    width: 100%;
    margin: auto;
    padding: 30px 0;
    font-size:40px ;

}
#localisation p{
    margin: auto;
    width: 90%;
    text-align: end;

}
#description{
    width: 100%;
    background-color:#F6F6F6;
    font-size:35px ;
    text-align: center;
    padding: 30px 0;
    margin: auto;
    border-bottom:6px #CFCFCF solid;
}
#description h3{
    margin: 0px 150px;
    font-size: 1.5em;
    font-family: Shrikhand;
   
}
#description p{
    margin-inline-end: 100px;
    margin-inline-start: 100px;
    font-size: 25px;
}
.btn{
    width: 50%;
    background: linear-gradient(to right bottom, #FF79DA , #9356DC);;
    border-radius: 50px;
    height: 100px;
    font-size: 37px;
    color: white;
    border: none;
    box-shadow:0px 12px 16px 3px #DBDBDB;
}
#Fonctionnement{
    width: 100%;
    padding: 50px 0;
}
 h2{
    margin: 50px;
    font-size: 45px;
}
.step{
    width: 90%;
    height: 150px;
    background-color: #F5EDFF;
    border-radius: 50px;
    box-shadow:0px 12px 16px 3px #DBDBDB;
    margin: 50px auto;
    display: flex;
}
.step p{
    font-size: 40px;
    margin: auto 0px;
    font-weight: bold;
}
.step p i{
    width: 30px;
    margin: auto 80px;
    
}
.number-step{
    width: 50px;
    height: 50px;
    background-color: #9356DC ;
    color: white;
    border-radius: 50px;
    align-items: center;
    margin: auto -30px !important;
    text-align: center;
}
.fa-store{
    color: #9356DC;
}

#restaurants{
    width: 100%;
    height: auto;
    background-color: #F5EDFF;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.element{
    width: 90%;
    height: 600px;
    border-radius: 30px;
    margin: 30px auto;
    background-color: white;
    font-size: 35px;
}

.element img{
    clip: rect(100px,800px,400px,0px);
    height: 400px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}
.desc-rest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.desc{
    width: 60%;
    margin: auto 30px;
}
.desc h3{
    margin-block-end: 0.2em;
    font-size: 45px;
}
.desc p{
    margin-block-start: 0em;
    font-size: 40px;
}
.icon-heart{
    width: 30%;
    
}
.icon-heart i{
    padding-left: 50%;
    font-size: 50px;
    margin-top: 20px;
}
.icon-heart i.fas{
    display: none;
    background: white;
    -webkit-background-clip: text;
    color: 2px black solid;
    z-index: 10;
}
.icon-heart i.far:hover{
    display: none;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 10;
}
.icon-heart:hover > i.fas{
    display: flex;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 10;
}
.icon-heart:hover > i.far{
    display: none;
}
footer{
    background-color: #353535;
    color: white;
    padding: 50px;
    bottom: 0;
}
footer h4{
    font-size: 45px;
    font-style: italic;
    margin-block-start: 0em;
}
footer h5 i{
    font-size: 10px;
    width: 20px;
    margin-right: 20px;
}
@media (max-device-width: 767px){
    header{
        display: flex;
        flex-direction:column;
        border: none;
    }
    .logo{
        width: 37%;
        margin: auto;
        padding: 30px 0;
    }
    #localisation{
        width: 100%;
        margin: auto;
        height: 20%;
        padding: 30px 0;
        font-size:40px ;
        background-color: #EAEAEA;
        border-top:6px #CFCFCF solid;
    }
    #localisation p{
        margin: auto;
        width: 35%;
    }
    #description{
        width: 100%;
        background-color:#F6F6F6;
        font-size:35px ;
        text-align: center;
        padding: 70px 0;
        margin: auto;
        border: none;
    }
    #description h3{
        margin: 0px 150px;
        font-size: 1.5em;
        font-family: Shrikhand;
       
    }
    #description p{
        margin-inline-end: 100px;
        margin-inline-start: 100px;
        font-size: 25px;
    }
    .btn{
        width: 50%;
        background: linear-gradient(to right bottom, #FF79DA , #9356DC);;
        border-radius: 50px;
        height: 100px;
        font-size: 37px;
        color: white;
        border: none;
        box-shadow:0px 12px 16px 3px #DBDBDB;
    }
    #Fonctionnement{
        width: 100%;
        padding: 50px 0;
    }
     h2{
        margin: 50px;
        font-size: 45px;
    }
    .step{
        width: 90%;
        height: 150px;
        background-color: #F5EDFF;
        border-radius: 50px;
        box-shadow:0px 12px 16px 3px #DBDBDB;
        margin: 50px auto;
        display: flex;
    }
    .step p{
        font-size: 40px;
        margin: auto 0px;
        font-weight: bold;
    }
    .step p i{
        width: 30px;
        margin: auto 80px;
        
    }
    
    #restaurants{
        width: 100%;
        height: auto;
        background-color: #F5EDFF;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .element{
        width: 90%;
        height: 600px;
        border-radius: 30px;
        margin: 30px auto;
        background-color: white;
        font-size: 35px;
    }
    
    .element img{
        clip: rect(100px,800px,400px,0px);
        height: 400px;
        width: 100%;
        border-radius: 30px 30px 0 0;
    }
    .desc-rest{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .desc{
        width: 60%;
        margin: auto 30px;
    }
    .desc h3{
        margin-block-end: 0.2em;
        font-size: 45px;
    }
    .desc p{
        margin-block-start: 0em;
        font-size: 40px;
    }
    .icon-heart{
        width: 30%;
        
    }
    .icon-heart i{
        padding-left: 50%;
        font-size: 50px;
        margin-top: 20px;
    }
    footer{
        background-color: #353535;
        color: white;
        padding: 50px;
        bottom: 0;
    }
    footer h4{
        font-size: 45px;
        font-style: italic;
        margin-block-start: 0em;
    }
    footer h5 i{
        font-size: 10px;
        width: 20px;
        margin-right: 20px;
    }
}