@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
.container-menu .btn {
  box-shadow: 0px 6px 8px 3px #DBDBDB;
}

.container-menu .btn:hover {
  box-shadow: 0px 6px 8px 3px #b4b4b4;
}

.container-menu .menu .entrees div .element, .container-menu .menu .plats div .element, .container-menu .menu .desserts div .element {
  box-shadow: 4px 5px 6px 4px #e5e5e5;
}

body {
  width: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}
header .icon-arrow-left {
  width: 20%;
  margin: auto 30px;
  font-size: 40px;
  text-align: left;
}
header .icon-arrow-left a {
  color: black;
  text-decoration: none;
}
header .logo {
  width: 40%;
  height: 50%;
  margin: auto 20px;
}

.image-restaurant img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.container-menu {
  position: relative;
  background-color: #F6F6F6;
  margin-top: -80px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}
.container-menu .title-menu {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}
.container-menu .title-menu h2 {
  font-size: 40px;
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}
.container-menu .title-menu p {
  text-align: center;
  margin-right: 50px;
  width: 10% !important;
}
.container-menu .title-menu .icon-heart {
  width: 30%;
}
.container-menu .title-menu .icon-heart:hover > i.fas {
  display: flex;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 10;
}
.container-menu .title-menu .icon-heart:hover > i.far {
  display: none;
}
.container-menu .title-menu .icon-heart i {
  padding-left: 50%;
  font-size: 50px;
  margin-top: 20px;
}
.container-menu .title-menu .icon-heart i.fas {
  display: none;
  background: white;
  -webkit-background-clip: text;
  color: 2px black solid;
  z-index: 10;
}
.container-menu .title-menu .icon-heart i.far:hover {
  display: none;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 10;
}
.container-menu .menu {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
.container-menu .menu .entrees, .container-menu .menu .plats, .container-menu .menu .desserts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.container-menu .menu .entrees h3, .container-menu .menu .plats h3, .container-menu .menu .desserts h3 {
  font-size: 25px;
  width: 100%;
}
.container-menu .menu .entrees h3::after, .container-menu .menu .plats h3::after, .container-menu .menu .desserts h3::after {
  content: "";
  position: absolute;
  margin-top: 35px;
  width: 45px;
  height: 3px;
  left: 75px;
  background-color: #99e2d0;
}
.container-menu .menu .entrees div, .container-menu .menu .plats div, .container-menu .menu .desserts div {
  width: 48%;
  height: 90px;
  margin-bottom: 20px;
}
.container-menu .menu .entrees div .annimation-menu1, .container-menu .menu .plats div .annimation-menu1, .container-menu .menu .desserts div .annimation-menu1 {
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-name: annimation-menu;
  animation-fill-mode: both;
}
.container-menu .menu .entrees div .annimation-menu2, .container-menu .menu .plats div .annimation-menu2, .container-menu .menu .desserts div .annimation-menu2 {
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-name: annimation-menu;
  animation-fill-mode: both;
}
.container-menu .menu .entrees div .annimation-menu3, .container-menu .menu .plats div .annimation-menu3, .container-menu .menu .desserts div .annimation-menu3 {
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-name: annimation-menu;
  animation-fill-mode: both;
}
.container-menu .menu .entrees div .annimation-menu4, .container-menu .menu .plats div .annimation-menu4, .container-menu .menu .desserts div .annimation-menu4 {
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-name: annimation-menu;
  animation-fill-mode: both;
}
.container-menu .menu .entrees div .element, .container-menu .menu .plats div .element, .container-menu .menu .desserts div .element {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  height: 90px;
  margin: 20px auto;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  overflow: hidden;
}
.container-menu .menu .entrees div .element .desc-repas, .container-menu .menu .plats div .element .desc-repas, .container-menu .menu .desserts div .element .desc-repas {
  width: 80%;
  margin: auto 20px;
}
.container-menu .menu .entrees div .element .desc-repas h4, .container-menu .menu .plats div .element .desc-repas h4, .container-menu .menu .desserts div .element .desc-repas h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-menu .menu .entrees div .element .desc-repas p, .container-menu .menu .plats div .element .desc-repas p, .container-menu .menu .desserts div .element .desc-repas p {
  max-width: 90%;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-menu .menu .entrees div .element .prix-repas, .container-menu .menu .plats div .element .prix-repas, .container-menu .menu .desserts div .element .prix-repas {
  margin: auto 30px;
  font-weight: bold;
}
.container-menu .menu .entrees div .element .check-animation, .container-menu .menu .plats div .element .check-animation, .container-menu .menu .desserts div .element .check-animation {
  width: 0px;
  background-color: #99E2D0;
  margin: auto;
  transition: width 1s;
  display: flex;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}
.container-menu .menu .entrees div .element .check-animation i, .container-menu .menu .plats div .element .check-animation i, .container-menu .menu .desserts div .element .check-animation i {
  color: white;
  font-size: 23px;
  transform: rotate(0deg);
  transition: ease 0.5s;
  margin: 35px auto;
}
.container-menu .menu .entrees div .element:hover .check-animation, .container-menu .menu .plats div .element:hover .check-animation, .container-menu .menu .desserts div .element:hover .check-animation {
  width: 90px;
}
.container-menu .menu .entrees div .element:hover .check-animation i, .container-menu .menu .plats div .element:hover .check-animation i, .container-menu .menu .desserts div .element:hover .check-animation i {
  transform: rotate(360deg);
}
.container-menu .container-button {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 30px;
}
.container-menu .btn {
  width: 50%;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  border-radius: 50px;
  height: 100px;
  font-size: 37px;
  color: white;
  border: none;
  transform: scale(1);
  transition-property: transform;
  opacity: 1;
}
.container-menu .btn:hover {
  transform: scale(1.15);
  opacity: 0.8;
}
.container-menu .btn {
  width: 40%;
  height: 70px;
  margin: auto;
}

@keyframes annimation-menu {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 30px 20px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer h4 {
  width: 100%;
  font-size: 30px;
  font-style: italic;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  margin: auto;
  text-align: center;
}
footer h5 i {
  font-size: 20px;
  width: 20px;
  margin-right: 20px;
}
footer a {
  text-decoration: none;
  color: white;
}

@media (max-device-width: 766px) {
  .container-menu .title-menu {
    padding: 0px;
  }
  .container-menu .title-menu h2 {
    font-size: 70px !important;
  }
  .container-menu .title-menu p {
    margin-right: 90px !important;
  }
  .container-menu .menu .entrees h3, .container-menu .menu .plats h3, .container-menu .menu .desserts h3 {
    font-size: 45px !important;
  }
  .container-menu .menu .entrees h3:after, .container-menu .menu .plats h3:after, .container-menu .menu .desserts h3:after {
    margin-top: 65px !important;
    width: 85px !important;
  }
  .container-menu .menu .entrees div, .container-menu .menu .plats div, .container-menu .menu .desserts div {
    height: 170px !important;
  }
  .container-menu .menu .entrees div .element, .container-menu .menu .plats div .element, .container-menu .menu .desserts div .element {
    height: 150px;
    border-radius: 30px;
  }
  .container-menu .menu .entrees div .element .check-animation, .container-menu .menu .plats div .element .check-animation, .container-menu .menu .desserts div .element .check-animation {
    height: 130px;
  }
  .container-menu .menu .entrees div .element .check-animation i, .container-menu .menu .plats div .element .check-animation i, .container-menu .menu .desserts div .element .check-animation i {
    font-size: 45px;
  }
  .container-menu .menu .entrees div .element:hover .check-animation, .container-menu .menu .plats div .element:hover .check-animation, .container-menu .menu .desserts div .element:hover .check-animation {
    width: 130px;
  }
  .container-menu .menu .entrees div .element:hover .check-animation i, .container-menu .menu .plats div .element:hover .check-animation i, .container-menu .menu .desserts div .element:hover .check-animation i {
    transform: rotate(360deg);
  }
  .container-menu .menu .entrees div .element .desc-repas, .container-menu .menu .plats div .element .desc-repas, .container-menu .menu .desserts div .element .desc-repas {
    margin-block-start: 0.5em;
  }
  .container-menu .menu .entrees div .element .prix-repas, .container-menu .menu .plats div .element .prix-repas, .container-menu .menu .desserts div .element .prix-repas {
    margin: auto 30px 20px 30px;
  }
  .container-menu .menu .entrees div h4, .container-menu .menu .entrees div p, .container-menu .menu .plats div h4, .container-menu .menu .plats div p, .container-menu .menu .desserts div h4, .container-menu .menu .desserts div p {
    font-size: 45px !important;
  }
  .container-menu footer h5 i {
    font-size: 20px !important;
  }
}
@media all and (max-width: 1080px) and (min-width: 767px) {
  .container-menu {
    border-radius: 100px 100px 0px 0px;
    margin-top: -100px;
    padding-bottom: 50px;
  }
  .container-menu .title-menu {
    padding: 0px;
  }
  .container-menu .title-menu h2 {
    font-size: 40px;
  }
  .container-menu .title-menu p {
    margin-right: 80px;
    width: 15% !important;
  }
  .container-menu .menu .entrees, .container-menu .menu .plats, .container-menu .menu .desserts {
    display: block;
  }
  .container-menu .menu .entrees h3, .container-menu .menu .plats h3, .container-menu .menu .desserts h3 {
    font-size: 40px;
  }
  .container-menu .menu .entrees h3:after, .container-menu .menu .plats h3:after, .container-menu .menu .desserts h3:after {
    left: 50px;
    margin-top: 50px;
    width: 60px;
  }
  .container-menu .menu .entrees div, .container-menu .menu .plats div, .container-menu .menu .desserts div {
    width: 100%;
    height: 150px;
  }
  .container-menu .menu .entrees div .element, .container-menu .menu .plats div .element, .container-menu .menu .desserts div .element {
    height: 130px;
    border-radius: 30px;
  }
  .container-menu .menu .entrees div .element .check-animation, .container-menu .menu .plats div .element .check-animation, .container-menu .menu .desserts div .element .check-animation {
    height: 130px;
  }
  .container-menu .menu .entrees div .element .check-animation i, .container-menu .menu .plats div .element .check-animation i, .container-menu .menu .desserts div .element .check-animation i {
    margin: 55px auto;
  }
  .container-menu .menu .entrees div h4, .container-menu .menu .plats div h4, .container-menu .menu .desserts div h4 {
    font-size: 30px;
  }
  .container-menu .menu .entrees div p, .container-menu .menu .plats div p, .container-menu .menu .desserts div p {
    font-size: 25px;
  }

  footer {
    display: block;
  }
  footer h4 {
    text-align: left;
    font-size: 40px;
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
  }
  footer h5 {
    font-size: 35px;
  }
}

/*# sourceMappingURL=style-menu.css.map */
